body
{
	background-color: rgb(255,255,200);
}

h2
{
	font-size: large;
}

.bg-yellow
{
	background-color: rgb(255,255,0);
}

.nav-link-blue
{
	display: block;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	margin-right: 50px;
	margin-left: 50px;
	color: rgb(0,0,255);
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.divBox
{
	margin: 0.25em;
	border-style: solid;
	border-color: black;
	border-radius: 1px;
}

.centered
{
	margin: auto;
	width: auto;
}

.newsField
{
	height: 2em;
	margin: 0.25em;
	margin-left: 0;
	width: 100%;
}